
#error{
    margin: auto;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 50px;
    width: 72%;
    display: flex;
}
#pagina{
    padding: 3%;
}
#error article{
    display: block;
    width: 50%;
    padding: 5%;
    margin: auto;
}
#error article img{
    margin: auto;
    width: 100%;
}
@media(max-width:978px){
#error{
    margin: auto;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#error h1,#error h3{
    font-size: 3vw;
}
}

.pagina-info{
    padding: 4%;
    box-sizing: border-box;
	background-image: url(../img/fondo-info.jpg);
	background-size:cover;
	background-attachment: fixed;
    display: flex;
	min-height: 100vh;
	overflow: hidden;
	box-sizing: border-box;
}