*{
	margin:0px ;
	padding: 0px;
	box-sizing:border-box;
}
#contenedor_carga{
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all  1s ease;
    transition: all  1s ease;
    z-index: 10000;
}
#carga{
    border: 15px solid #ccc;
    border-top-color: rgb(33, 107, 156);
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}
@keyframes girar{
from{transform: rotate(0deg);}
to{transform: rotate(360deg);}

}

.pagina{
	box-sizing: border-box;
	background-image: url(../img/fondo2.jpg);
	background-size:cover;
	background-attachment: fixed;
	display: flex;
	min-height: 100vh;
	overflow: hidden;
	height: 700px;
	box-sizing: border-box;
}
.pagina:before{
	content:"";
	width: 100%;
	height:700px;
	background-color:black;
	position: absolute;
	opacity: 0.5;

}


h1{
	font-family: 'Leckerli One', cursive;
	font-size: 70px;
	color: #15D7A9;
	margin: 40px ;
	text-align: center;
}

.formulario{
	width: 40%;
	min-width: 300px;
	max-width: 500px;
	height: 400px;
	box-sizing: border-box;
	/* background-image: url(../img/fondo.jpg); */
	background-size: cover;
	background-color: rgba(255, 255, 255, 0.555);
    text-align: center;
    position: relative;
    padding: 30px;
	margin: auto;
	border-radius: 10px;
	align-content: center;
	opacity: 1 !important;
}
.formulario h2,p{
	padding: 10px;
	font-family: 'Bitter', serif;
	/* font-family: 'Oswald', sans-serif; */
	font-size: 20px;
	margin-bottom: 20px;
	color: rgba(3, 2, 1, 0.75);

}

.formulario h2{
	font-size: 40px;
}
form {
	margin: 50px;
	margin-top: 0px;
	display: flex;
	flex-direction:column; 
}

input{
	display: block;
	margin: 5px;
	padding: 10px;
	text-align: center;
	font-family: 'Didact Gothic', sans-serif;
	background: rgba(255, 255, 255, 0.5);
}
#ingresar{
	background: rgba(48, 135, 175, 0.9);
	color: white;
	cursor: pointer;
}

input[type="submit"]:hover{
	opacity: 0.80;
}

input[type="submit"]:active{
	transform: scale(0.95);
}

@media(max-width:768px){
	.formulario{
		width: 75%;
	}

}
@media(max-width:480px){
	.formulario{
		width: 90%;
	}

}

